@using boxify.ViewModels
@model HomeViewModel


<div class="loop-wrapper">
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="rock"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to Boxify</h1>
    <p></a>.</p>

    @*@foreach(var ad in Model.NewAds)
    {
        <partial name="_AdCard" model="ad"/>
    }*@
</div>
