@using boxify.Data.ModelsDb
@model IEnumerable<Category>

<li class="nav-item dropdown">

    <a asp-controller="Ad" asp-action="List"
       class="nav-link dropdown-toggle" data-toggle="dropdown">
        Ads<b class="caret"></b>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Ad" asp-action="List"
               asp-route-category="@category.Name">@category.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Ad" asp-action="List" asp-route-Category="">View all ads</a>
        </li>
    </ul>
</li>