@using boxify.ViewModels
@model FavoritesViewModel

<h2 class="text-center"><u>Your favorite ads</u></h2>
@if (Model.FavouriteList is null)
{
    <h4 class="text-center">You don't have any favorites ads!</h4>
}
else
{
    <div class="container-fluid">
    @foreach (var ad in Model.FavouriteList.Select(x=> x.Ad))
    {
        <partial name="_AdCard" model="ad" />
        <div class="RemoveFromFavorites">
            <p class="button">
                <a class="btn btn-primary" asp-controller="Favorites" asp-action="RemoveFromFavorites" asp-route-id="@ad.Id" style="background-color:orangered; border-block-color:orangered">Remove</a>
            </p>
        </div>
    }
    </div>
}